@font-face {
	font-family: 'Proxima Nova Light';
	src: url('src/fonts/ProximaNova/ProximaNova-Light.eot');
	src: url('src/fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('src/fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
		url('src/fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('src/fonts/ProximaNova/ProximaNova-Regular.eot');
	src: url('src/fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('src/fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
		url('src/fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('src/fonts/ProximaNova/ProximaNova-Semibold.eot');
	src: url('src/fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('src/fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
		url('src/fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@mixin lt {
	font-family: 'Proxima Nova Light', sans-serif;
	font-weight: 300;
}

@mixin reg {
	font-family: 'Proxima Nova Regular', sans-serif;
	font-weight: 400;
}

@mixin sbold {
	font-family: 'Proxima Nova Semibold',	sans-serif;
	font-weight: 600;
}