*
	box-sizing: border-box
	outline: none
ul
	list-style: none
img
	max-width: 100%
body
	+lt
	color: $text-color
.container
	width: 1169px
	margin: 0 auto
.button
	padding: 23px 43px
	text-transform: uppercase
	border: none
	background-color: $main-color
	+bold
	color: #fff
	cursor: pointer

@media (max-width: 1199px)
	.container
		max-width: 960px
@media (max-width: 991px)
	.container
		max-width: 750px
@media (max-width: 768px)
	.container
		max-width: 100%
		padding: 0px 20px
		
