.navbar
	&-block
		min-height: 82px
		display: flex
		align-items: center
	&__menu
		&-button
			background-color: transparent
			border: none
			border-left: 1px solid #510bba
			border-right: 1px solid #510bba
			height: 82px
			width: 70px
			&__line

